<!-- @AUTHOR SIVA KUMAR ATHINARAM @DATE: 08/29/2017 -->

<div class="container" ng-controller="HealthQuoteController">

            
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title" align="center"><h1>Please Fill The Application</h1></div>
               
            </div>  
            <div class="panel-body">

                    <form  class="form-horizontal" role="form">
                        
                        <div  class="form-group required">
                            <label for="name" class="control-label col-md-4  requiredField"> Name<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 ">
                                <input class="input-md  textinput textInput form-control" maxlength="30" ng-model="healthform.name" placeholder="Enter your name" style="margin-bottom: 10px" type="text"  />
                            </div>
                        </div>
                    
                        <div id="div_id_gender" class="form-group required">
                            <label for="id_gender"  class="control-label col-md-4  requiredField"> Gender<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 "  style="margin-bottom: 10px">
                                 <label class="radio-inline"> <input type="radio" ng-model="healthform.gender" value="M"  style="margin-bottom: 10px" >Male</label>
                                 <label class="radio-inline"> <input type="radio" ng-model="healthform.gender" value="F"  style="margin-bottom: 10px">Female </label>
                            </div>
                        </div>
                        
                          <div  class="form-group required">
                            <label for="age" class="control-label col-md-4  requiredField"> Age<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 ">
                                <input class="input-md  textinput textInput form-control" maxlength="30" ng-model="healthform.age" placeholder="Enter your age" style="margin-bottom: 10px" type="text" />
                            </div>
                        </div>
                        
                        
                        <h4><b>Current Health</b></h4>
                        
                      
                        <div class="form-group required">
                            <label for="hypertension"  class="control-label col-md-4  requiredField"> Hypertension<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 "  style="margin-bottom: 10px">
                                 <label class="radio-inline"> <input type="radio" ng-model="healthform.hypertension" value="Yes"  style="margin-bottom: 10px" >Yes</label>
                                 <label class="radio-inline"> <input type="radio" ng-model="healthform.hypertension" value="No"  style="margin-bottom: 10px">No </label>
                            </div>
                        </div>
                        
                        
                          <div class="form-group required">
                            <label for="bloodpressure"  class="control-label col-md-4  requiredField"> Blood Pressure<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 "  style="margin-bottom: 10px">
                                 <label class="radio-inline"> <input type="radio"  ng-model="healthform.bloodpressure" value="Yes"  style="margin-bottom: 10px" >Yes</label>
                                 <label class="radio-inline"> <input type="radio"  ng-model="healthform.bloodpressure"  value="No"  style="margin-bottom: 10px">No </label>
                            </div>
                        </div>
                        
                        
                          <div class="form-group required">
                            <label for="bloodsugar"  class="control-label col-md-4  requiredField"> Blood Sugar<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 "  style="margin-bottom: 10px">
                                 <label class="radio-inline"> <input type="radio" ng-model="healthform.bloodsugar"  value="Yes"  style="margin-bottom: 10px" >Yes</label>
                                 <label class="radio-inline"> <input type="radio"  ng-model="healthform.bloodsugar"   value="No"  style="margin-bottom: 10px">No </label>
                            </div>
                        </div>
                        
                        
                          <div class="form-group required">
                            <label for="overweight"  class="control-label col-md-4  requiredField"> Overweight<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 "  style="margin-bottom: 10px">
                                 <label class="radio-inline"> <input type="radio"  ng-model="healthform.overweight"  value="Yes"  style="margin-bottom: 10px" >Yes</label>
                                 <label class="radio-inline"> <input type="radio"  ng-model="healthform.overweight"  value="No"  style="margin-bottom: 10px">No </label>
                            </div>
                        </div>
                        
                        
                        
                         <h4><b>Habits</b></h4>
                        
                        
                         <div class="form-group required">
                            <label for="smoking"  class="control-label col-md-4  requiredField"> Smoking<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 "  style="margin-bottom: 10px">
                                 <label class="radio-inline"> <input type="radio" ng-model="healthform.smoking"  value="Yes"  style="margin-bottom: 10px">Yes</label>
                                 <label class="radio-inline"> <input type="radio" ng-model="healthform.smoking" value="No"  style="margin-bottom: 10px" >No </label>
                            </div>
                        </div>
                        
                         <div class="form-group required">
                            <label for="alcohol"  class="control-label col-md-4  requiredField"> Alcohol<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 "  style="margin-bottom: 10px">
                                 <label class="radio-inline"> <input type="radio" ng-model="healthform.alcohol" value="Yes"  style="margin-bottom: 10px" >Yes</label>
                                 <label class="radio-inline"> <input type="radio" ng-model="healthform.alcohol" value="No"  style="margin-bottom: 10px" >No </label>
                            </div>
                        </div>
                        
                         <div class="form-group required">
                            <label for="dailyexcercise"  class="control-label col-md-4  requiredField"> Daily Excercise<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 "  style="margin-bottom: 10px">
                                 <label class="radio-inline"> <input type="radio" ng-model="healthform.dailyexcercise"  value="Yes"  style="margin-bottom: 10px" >Yes</label>
                                 <label class="radio-inline"> <input type="radio" ng-model="healthform.dailyexcercise"  value="No"  style="margin-bottom: 10px" >No </label>
                            </div>
                        </div>
                        
                         <div class="form-group required">
                            <label for="drugs"  class="control-label col-md-4  requiredField"> Drugs<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 "  style="margin-bottom: 10px">
                                 <label class="radio-inline"> <input type="radio" ng-model="healthform.drugs" value="Yes"  style="margin-bottom: 10px" >Yes</label>
                                 <label class="radio-inline"> <input type="radio" ng-model="healthform.drugs"  value="No"  style="margin-bottom: 10px"  >No </label>
                            </div>
                        </div>
                 
                        <div class="form-group"> 
                            <div class="aab controls col-md-4 "></div>
                            <div class="controls col-md-8 ">
                                <input type="submit" name="Submit" value="Get Quote" class="btn btn-primary btn btn-info" ng-click="calculatepremium(healthform)"/>
                                
                            </div>
                        </div> 
                            
                    </form>

            </div>
        </div>
    </div> 
    
    
 <div class="col-md-6 col-sm-12">
    <div class="panel panel-info">
   
       <div class="panel-heading">
                <div class="panel-title" align="center"><h1>Calculated Premium</h1></div>
               <div class="panel-body">
                <strong><p align="center">{{premium}}</p></strong>
               </div>
            </div>
    </div> 
 </div>

</div>